<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="card-container">
    <div class="card">
      <div class="card-body">
        <img class="logo" src="assets/persona.png">
        <div class="mb-3">
          <p class="card-title fw-bold">LOGIN</p>
          <form [formGroup]="Formulario_login" (ngSubmit)="login()">

            <label for=" exampleFormControlInput1" class="form-label">NUE:</label>
            <input type="email" class="form-control" placeholder="EJEMPLO123" id="email" name="email"
              formControlName="NUE">
            <ng-container *ngFor="let validation of validationMessages.NUE">
              <small
                *ngIf="Formulario_login.get('NUE')?.hasError(validation.type) && (Formulario_login.get('NUE')?.dirty || Formulario_login.get('NUE')?.touched)">
                <i class="fa fa-circle-exclamation"></i>{{validation.message}}
              </small>
            </ng-container>

            <label for="exampleFormControlInput1" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password">
            <ng-container *ngFor="let validation of validationMessages.password">
              <small
                *ngIf="Formulario_login.get('password')?.hasError(validation.type) && (Formulario_login.get('password')?.dirty || Formulario_login.get('password')?.touched)">
                <i class="fa fa-circle-exclamation"></i>{{validation.message}}
              </small>
            </ng-container>

            <br>
            <button class="boton-login btn ">Iniciar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>